.dashboardContent {
    padding: 0 50px;
    position: absolute;
    left: 117px;
    top: 50px;
}

.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 48px;
    left: 117px;
    padding: 2rem 3rem;
    margin-right: 117px;
    top: 80px
}

.error {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 48px;
    left: 117px;
    padding: 2rem 3rem;
    margin-right: 117px;
    top: 80px
}

.littleGraph {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    width: 835px;
    @media (max-width: 1024px) {
        width: 100%;
        justify-content: space-between;
    }
}

.dashboardCardInfos {
    display: flex;
    flex-direction: column;
    height: 615px;
    justify-content: space-between;
    position: absolute;
    top: 217px;
    right: -15px;
    margin-left: 32px;
}

@media screen and (max-width:1250px) {
    .dashboardCardInfos {
        flex-direction: row;
        flex-wrap: wrap;
        height: 124px;
        top: 0;
        left: 117px;
        position: relative;
        padding: 0 50px;
        margin-left: 0px;
        width: 80%;
    }
}