.dashboardContent {
    padding: 0 50px;
    position: absolute;
    left: 117px;
    top: 50px;
}

.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 48px;
    left: 117px;
    padding: 2rem 3rem;
    margin-right: 117px;
    top: 80px
}

.error {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 48px;
    left: 117px;
    padding: 2rem 3rem;
    margin-right: 117px;
    top: 80px

}