.lineGraphToolTip {
    background-color: white;
    color: black;
    padding: 1px 5px;
    font-size: 14px;
    text-align: center;
}

.lineGraphContent {
    width: 258px;
    height: 263px;
    border-radius: 5px;
    background: linear-gradient(to right, #ff0000 75%, #df0000 25%);
    position: relative;
    @media (max-width: 1024px) {
        width: 30%;
    }
}

.lineGraphTitle {
    position: absolute;
    left: 25px;
    top: 30px;
    color: #ffffff90;
    width: 160px;
}